<!DOCTYPE html>
<html lang="en">
  <head>
    <title>H3 - Xe Ôm Công Nghệ</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="./lib/images/logo-01.png" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="lib/styles.css" />
  </head>
  <body>
    <div class="wrapper">
           <!-- topBar -->
           <div id="topBar">
            <div class="container">
              <div class="row">
                <div class="col-1">
                  <div class="wrapperLogo">
                    <a href="index.html"
                      ><img
                        src="./lib/images/logo-01.png"
                        alt=""
                        class="img-fluid"
                        width="100%"
                    /></a>
                  </div>
                </div>
                <div class="col-5">
                  <div class="titleLogo">
                    <h3>Xe Ôm Công Nghệ - H3</h3>
                  </div>
                </div>
                <div class="col-6 menuChoosse text-right">
                  <ul>
                    <li class="menuChose"><a href="book.html"><i class="fas fa-mobile-alt"></i>&nbsp;Đặt Xe</a></li>
                    <li class="menuChose">
                      <a href="register.html"><i class="fas fa-motorcycle"></i>&nbsp;Trở Thành Tài Xế</a>
                    </li>
                    <li class="menuChose"><a href="login.html"><i class="fas fa-sign-in-alt"></i>&nbsp;Đăng Nhập</a></li>
                  </ul>
                </div>
                <div id="iconBar">
                  <i class="fas fa-bars"></i>
                </div>
              </div>
            </div>
          </div>
          <!-- topBar -->

      <!-- register -->
      <div id="register">
        <div class="wrapperRegister">
          <!-- title is shared -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <h2 class="titleMain text-center">
                  lái xe với H3
                </h2>
                <p class="text-center" style="margin: 0; padding: 0">
                  <small>Nhập thông tin cơ bản của bạn để bắt đầu</small>
                </p>
              </div>
            </div>
          </div>
          <div class="content">
            <div class="container">
              <div class="form-group">
                <div class="row">
                  <div class="col-6">
                    <input
                      type="text"
                      name=""
                      id=""
                      class="form-control"
                      placeholder="Tên"
                    />
                  </div>
                  <div class="col-6">
                    <input
                      type="text"
                      name=""
                      id=""
                      class="form-control"
                      placeholder="Họ và tên đệm"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name=""
                  id=""
                  class="form-control"
                  placeholder="Số di động"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name=""
                  id=""
                  class="form-control"
                  placeholder="Biển số xe"
                />
              </div>
              <div class="form-group">
                  <div class="inputFile">
                        <label id="#bb"> Ảnh đại diện bác tài
                                <input type="file" id="File" type="file"
                                class="form-control-file inputFile"
                                name=""
                                id=""
                                placeholder=""
                                aria-describedby="fileHelpId">
                                </label> 
                  </div>
                </div>
              <div class="form-group">

                  <div class="inputFile">
                        <label id="#bb"> Ảnh của xe
                                <input type="file" id="File" type="file"
                                class="form-control-file inputFile"
                                name=""
                                id=""
                                placeholder=""
                                aria-describedby="fileHelpId">
                                </label> 
                    <input
                      type="file"
                      class="form-control-file inputFile"
                      name=""
                      id=""
                      placeholder=""
                      aria-describedby="fileHelpId"
                    />
                  </div>
              </div>
              <div class="form-group">
                <button
                  type="button"
                  name=""
                  id=""
                  class="btn btn-success btnRegister btn-block"
                >
                  Đăng Ký
                </button>
              </div>
            </div>
          </div>
          <!-- content -->
        </div>
        <!-- wrapperRegister -->
      </div>
      <!-- register -->

      <!-- why -->
      <div id="why">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <h2 class="titleMain text-center">
                vì sao bạn nên gia nhập H3?
              </h2>
            </div>
          </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row text-center">
                    <div class="col-xs-12 col-md-4 wrapperWhy">
                        <div class="iconWhy">
                            <i class="fas fa-hand-holding-usd"></i>
                        </div> <!-- iconWhy -->
                        <div class="contentWhy">
                            <h4 class="titleWhy">
                                Tự do kiếm thêm thu nhập
                            </h4>
                            <p>Thu nhập ổn định tùy theo năng suất và khác nhau ở từng loại hình dịch vụ.</p>
                        </div><!-- contentWhy -->
                    </div> <!-- wrapperWhy -->
                    <div class="col-xs-12 col-md-4 wrapperWhy">
                            <div class="iconWhy">
                                    <i class="far fa-clock"></i>
                            </div> <!-- iconWhy -->
                            <div class="contentWhy">
                                <h4 class="titleWhy">
                                        Tự do và tự chủ về thời gian
                                </h4>
                                <p>Không gò bó về mặt thời gian, chính bạn là người quyết định thời gian làm việc.</p>
                            </div><!-- contentWhy -->
                        </div> <!-- wrapperWhy -->
                        <div class="col-xs-12 col-md-4 wrapperWhy">
                                <div class="iconWhy">
                                        <i class="far fa-handshake"></i>
                                </div> <!-- iconWhy -->
                                <div class="contentWhy">
                                    <h4 class="titleWhy">
                                            Tự do gắn kết và chia sẻ
                                    </h4>
                                    <p>Thêm cơ hội được giao tiếp và kết nối với những người trong cộng đồng Grab.</p>
                                </div><!-- contentWhy -->
                            </div> <!-- wrapperWhy -->
                </div>
            </div>
        </div>
        <!-- content -->
      </div>
      <!-- why -->

      <!-- useprocess -->
      <div id="useprocess">
        <!-- title is shared -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <h2 class="titleMain text-center">
                quy trình sử dụng
              </h2>
            </div>
          </div>
        </div>

        <div class="content">
          <div class="container">
            <div class="row">
              <div class="col-12 text-center">
                <p>Thoải mái lái xe cùng H3</p>
              </div>
            </div>
            <!-- row -->
            <div class="row">
              <div
                class="col-xs-12 col-md-5 text-xs-center text-sm-right wrapperImgPhone"
              >
                <img
                  src="../users/lib/images/empty-v2.png"
                  alt=""
                  width="70%"
                />
                <div class="imgPhone">
                  <img
                    src="../users/lib/images/1_step-1.jpg"
                    alt=""
                  />
                </div>
              </div>
              <!-- wrapperImgPhone -->
              <div
                class="col-xs 12 col-md-7 text-xs-center text-sm-left wrapperInfo"
              >
                <div class="info">
                  <div class="row">
                    <div class="col-1 numberInfo">
                      <span>1</span>
                    </div>
                    <div class="col-11 detailInfo">
                      <p class="titleDetailInfo">
                        <b>Nhận đặt chuyến</b>
                      </p>
                      <p>
                        Mở ứng dụng để bắt đầu nhận đặt chuyến của khách hàng.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- info -->
                <div class="info">
                  <div class="row">
                    <div class="col-1 numberInfo">
                      <span>2</span>
                    </div>
                    <div class="col-11 detailInfo">
                      <p class="titleDetailInfo">
                        <b>Nhận cuốc xe</b>
                      </p>
                      <p>
                        Chấp thuận đặt chuyến để nhận được thông tin đầy đủ của
                        khách hàng.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- info -->
                <div class="info">
                  <div class="row">
                    <div class="col-1 numberInfo">
                      <span>3</span>
                    </div>
                    <div class="col-11 detailInfo">
                      <p class="titleDetailInfo">
                        <b>Đón khách</b>
                      </p>
                      <p>
                        Hệ thống định vị GPS sẽ hiển thị địa điểm của khách hàng
                        để đến đón.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- info -->
                <div class="info">
                  <div class="row">
                    <div class="col-1 numberInfo">
                      <span>4</span>
                    </div>
                    <div class="col-11 detailInfo">
                      <p class="titleDetailInfo">
                        <b>Trả khách</b>
                      </p>
                      <p>
                        Chọn phím Trả Khách khi đã đến nơi và nhận tiền thanh
                        toán.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- info -->
              </div>
              <!-- wrapperInfo -->
            </div>
          </div>
        </div>
      </div>
      <!-- useprocess -->

      <!-- downloadApp -->
      <div
        id="downloadApp"
        style="background-image: url('../users/lib/images/dg-dl-grab-back.jpg')"
        ;
      >
        <div class="container-fluid">
          <div class="row justify-content-md-center">
            <div class="col-xs-10 col-md-6 text-center">
              <h1>
                Tải ứng dụng H3
              </h1>
              <div class="row">
                <div class="col-6 text-right imgQRCode">
                  <p>Quét mã QR</p>
                  <img
                    src="../users/lib/images/pax_vn.jpg"
                    alt=""
                    width="50%"
                  />
                </div>
                <div class="col-1">
                  <div class="line"></div>
                </div>
                <div class="col-5 text-left imgAppPhone">
                  <a href="">
                    <img
                      src="../users/lib/images/app-store.png"
                      alt=""
                      width="60%"
                      class="m-2"
                    />
                  </a>
                  <a href="">
                    <img
                      src="../users/lib/images/google-play.png"
                      alt=""
                      width="60%"
                      class="m-2"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- downloadApp -->

      <!-- footer -->
      <div id="footer">
        <span>Copyright &copy; 2019. Thiết Kế và Duy Trì bởi H3 App</span>
      </div>
    </div>
    <!-- wrapper -->
     <!-- menuSub -->
     <div id="menuSub">
      <div class="container-fluid">
        <div class="col-12 close text-right">
          <i class="fas fa-times"></i>
        </div>
        <div class="contentMenuSub">
          <ul>
            <li class="menuChose"><a href="book.html"><i class="fas fa-mobile-alt"></i><p>Đặt Xe</p></a></li>
            <li class="menuChose">
              <a href="register.html"><i class="fas fa-motorcycle"></i><p>Trở Thành Tài Xế</p></a>
            </li>
            <li class="menuChose"><a href="login.html"><i class="fas fa-sign-in-alt"></i><p>Đăng Nhập</p></a></li>
          </ul>
        </div> <!-- contentMenuSub -->
      </div>
    </div>
  <!-- menuSub -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="../vendor/js/jquery-3.3.1.slim.min.js"
    ></script>
    <script
      src="../vendor/js/popper.min.js"
    ></script>
    <script
      src="../vendor/js/bootstrap.min.js"
    ></script>
     <!-- Optional JavaScript -->
     <script src="lib/myQuery.js"></script>
  </body>
</html>
