    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>H3 - Xe Ôm Công Nghệ</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
        rel="shortcut icon"
        href="./lib/images/logo-01.png"
        type="image/x-icon"
        />

        <!-- Bootstrap CSS -->
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
        />
        <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous"
        />
        <link rel="stylesheet" href="lib/styles.css" />
    </head>

    <div class="wrapper">
        <!-- topBar -->
        <div id="topBar">
        <div class="container">
            <div class="row">
            <div class="col-1">
                <div class="wrapperLogo">
                <a href="index.html"
                    ><img
                    src="./lib/images/logo-01.png"
                    alt=""
                    class="img-fluid"
                    width="100%"
                /></a>
                </div>
            </div>
            <div class="col-5">
                <div class="titleLogo">
                <h3>Xe Ôm Công Nghệ - H3</h3>
                </div>
            </div>
            <div class="col-6 menuChoosse text-right">
                <ul>
                <li class="menuChose">
                    <a href="book.html"
                    ><i class="fas fa-mobile-alt"></i>&nbsp;Đặt Xe</a
                    >
                </li>
                <li class="menuChose">
                    <a href="register.html"
                    ><i class="fas fa-motorcycle"></i>&nbsp;Trở Thành Tài Xế</a
                    >
                </li>
                <li class="menuChose">
                    <a href="login.html"
                    ><i class="fas fa-sign-in-alt"></i>&nbsp;Đăng Nhập</a
                    >
                </li>
                </ul>
            </div>
            <div id="iconBar">
                <i class="fas fa-bars"></i>
            </div>
            </div>
        </div>
        </div>
        <!-- topBar -->

        <div id="confirmDriver">
        <div class="container">
            <div class="row">
            <div class="col-xs-12 col-md-8 map">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31356.67522812481!2d106.67437147917477!3d10.766478188433842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1c06f4e1dd%3A0x43900f1d4539a3d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaG9hIGjhu41jIFThu7Egbmhpw6puIFRwLiBIQ00!5e0!3m2!1svi!2s!4v1559716477029!5m2!1svi!2s"
                width="100%"
                height="450"
                frameborder="0"
                style="border:0"
                allowfullscreen
                ></iframe>
            </div>
            <!-- infoCustomer -->
            <div class=" col-xs-12 col-md-4 bookCustomer">
                <h4 class="titleBook" style="color: #fff">Thông tin khách hàng</h4>
                <div class="form-group">
                <input
                    type="text"
                    name=""
                    id=""
                    class="form-control"
                    placeholder="Địa điểm đón"
                    aria-describedby="helpId"
                    readonly
                />
                </div>
                <div class="form-group">
                <input
                    type="text"
                    name=""
                    id=""
                    class="form-control"
                    placeholder="Địa điểm đến"
                    aria-describedby="helpId"
                    readonly
                />
                </div>
                <div class="form-group">
                <input
                    type="text"
                    name=""
                    id=""
                    class="form-control"
                    placeholder="Số điện thoại"
                    aria-describedby="helpId"
                    readonly
                />
                </div>
                <div class="form-group">
                <input
                    type="text"
                    name=""
                    id=""
                    class="form-control"
                    placeholder="Số km dự tính : 15km"
                    aria-describedby="helpId"
                    readonly
                />
                </div>
                <div class="form-group">
                <input
                    type="text"
                    name=""
                    id=""
                    class="form-control"
                    placeholder="Số tiền dự tính : 30.000đ"
                    aria-describedby="helpId"
                    readonly
                />
                </div>
                <div class="form-group text-right">
                <div class="row">
                    <div class="col-6">
                    <button
                        type="button"
                        name=""
                        id=""
                        class="btn btn-success btn-block btnRegister btn-danger"
                    >
                        Không Nhận &nbsp;<i class="far fa-times-circle"></i>
                    </button>
                    </div>
                    <div class="col-6">
                    <button
                        type="button"
                        name=""
                        id=""
                        class="btn btn-success btn-block btnRegister btn-block"
                    >
                        Nhận Chuyến&nbsp;<i class="far fa-check-circle"></i>
                    </button>
                    </div>
                </div>
                </div>
            </div>
            <!-- bookCustomer -->
            </div>
        </div>
        </div>

        <!-- footer -->
        <div id="footer">
        <span>Copyright &copy; 2019. Thiết Kế và Duy Trì bởi H3 App</span>
        </div>
    </div>
    <!-- wrapper -->

    <body>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="../vendor/js/jquery-3.3.1.slim.min.js"></script>
        <script src="../vendor/js/popper.min.js"></script>
        <script src="../vendor/js/bootstrap.min.js"></script>
        <!-- Optional JavaScript -->
        <script src="lib/myQuery.js"></script>
    </body>
    </html>
